@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #2d3748; /* Dark grey background */
  color: #e2e8f0; /* Light grey text */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-gray-800 {
  background-color: #2d3748; /* Dark grey background for sections */
}

.text-white {
  color: #e2e8f0; /* Light grey text */
}

.bg-gray-100 {
  background-color: #1a202c; /* Slightly lighter grey background */
}

.bg-gray-200 {
  background-color: #2d3748; /* Dark grey background */
}

.bg-gray-900 {
  background-color: #1a202c; /* Dark grey background for navbar */
}

/* Optional: Add transition for smooth theme changes */
body {
  transition: background-color 0.3s, color 0.3s;
}